
@model IEnumerable<KATPHONE.Models.NHASANXUAT>

@if (Model != null && Model.Any())
{
    <ul class="sidebar_categories">
        <li><a href="/product">Tất cả</a></li>
        @foreach (var item in Model)
        {
            if (ViewBag.CateId == item.MANSX)

            {

                <li class="active"><a href="/danh-muc-san-pham/@(item.MANSX)"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>@item.TENNSX</a></li>
            }
            else
            {

                <li><a href="/danh-muc-san-pham/@(item.MANSX)">@item.TENNSX</a></li>
            }

        }
        @*<li><a href="#">Men</a></li>
        <li class="active"><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>Women</a></li>
        <li><a href="#">Accessories</a></li>
        <li><a href="#">New Arrivals</a></li>
        <li><a href="#">Collection</a></li>
        <li><a href="#">Shop</a></li>*@
    </ul>
}


